@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --quimera-blue: #1a56db;
  --quimera-dark: #111827;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer utilities {
  /* Scrollbar fina para paneles */
  .thin-scroll::-webkit-scrollbar {
    width: 4px;
  }
  .thin-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .thin-scroll::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
}
